.ui-video-list {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    display: block;
    clearfix();
}

.ui-video-list-item {
    position: relative;
    padding: 0;
    background-color: ui-video-list-item-bgc;
    float: left;

    .img {
        position: relative;
        width: 90%;
        margin: 5px auto 5px auto;
        display: block;
        min-height: 150px;

        img {
            width: 100%;
            min-height: 150px;
        }

        .duration,
        .items {
            position: absolute;
            bottom: 5px;
            right: 0px;
            width: 60px;
            height: 30px;
            background-color: #000;
            color: #fff;
            font-size: 18px;
            padding: 2px;
        }

        .items span::before {
            content: "PL: "
        }
    }

    .playimg {
        position: absolute;
        top: 10px;
        height: 50px;
        opacity: 0.8;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        &:hover{
            cursor: pointer;
            opacity: 1.0;
        }
    }

    .metadata {
        height: 150px;
        padding: 5px 10px;

        .title{
            color: #C4110B;
            padding: 0;
            margin: 0;
            font-size: 24px;
            font-weight: lighter;
            font-family: source_sans_prolight;
        }

        .subtitle {
            padding: 0;
            margin: 5px 0;
        }

        .description{
            padding: 0;
            margin: 5px 0;
        }
    }

    .buttons {
        position: absolute;
        right: 10px;
        top: 5px; 
        width: 50px;
    }
}


.ui-video-list {
    &.list .ui-video-list-item {
        width: 100%;

        .img {
            width: 40%;
            float: left;
            margin-right: 5px;

            img {
                min-height: initial;
            }
        }
    }
}
