<li class="ui-video-list-item">
  <div class="img">
    <img ng-if="item.img" ng-src="{{::item.img}}"/>
    <a ng-if="playLink" class="playimg" ng-href="#/view/expand/{{::item.type}}/{{::item.id}}"> <!-- TODO: replace href with {{ playLink | replaceParams }} -->
      <img src="assets/youtube_producer/img/play-icon.svg" />
    </a>
    <a ng-if="playFn" class="playimg" ng-click="playFunction($index)">
      <img src="assets/youtube_producer/img/play-icon.svg" />
    </a>
    <div ng-if="item.type == 'video'" class="duration"><span>{{ item.duration | duration }}</span></div><!-- TODO: one-time binding with filter? -->
    <div ng-if="item.type == 'playlist'" class="items"><span>{{ ::item.totalItems }}</span></div>
  </div>
  <div class="metadata">
    <p class="title">{{::item.title}}</p>
    <p class="subtitle" ng-if="item.channel">
      <span>by {{::item.channel}}</span><br />
      <span>{{ ::item.created | timeAgo }}</span>
    </p>
    <p class="description" data-type="description" cw-reveal-label ng-if="item.description">
      {{::item.description}}
    </p>
    <p class="description" ng-if="!item.description">No description available.</p>
  </div>
  <div class="buttons">
      <app-send-to-tv ng-model="::item"></app-send-to-tv>
  </div>
</li>