<div class="img">
    <a ng-if="::playLink" class="playimg" ng-href="#/view/expand/{{::item.type}}/{{::item.id}}"> <!-- TODO: replace href with {{ playLink | replaceParams }} -->
        <ui-video-list-play-arrow></ui-video-list-play-arrow>
        <img ng-if="::item.img" ng-src="{{::item.img}}"/>
    </a>
    <a ng-if="::playFn" class="playimg">
        <div class="index">{{ ::($index + 1) }}</div>
        <ui-video-list-play-arrow></ui-video-list-play-arrow>
        <img ng-if="::item.img" ng-src="{{::item.img}}"/>
    </a>
    <div ng-if="::(item.type == 'video')" class="duration"><span>{{ item.duration | duration }}</span></div><!-- TODO: one-time binding with filter? -->
    <div ng-if="::(item.type == 'playlist')" class="items"><span>{{ ::item.totalItems }}</span></div>
</div>
<div class="metadata">
    <a class="title" ng-if="::playLink" class="playimg" ng-href="#/view/expand/{{::item.type}}/{{::item.id}}"> <!-- TODO: replace href with {{ playLink | replaceParams }} -->
        {{::item.title | limitTo : 50 }}<span ng-show="item.title.length >= 50">...</span>
    </a>
    <a class="title" ng-if="::playFn" class="playimg">
        {{::item.title | limitTo : 50 }}<span ng-show="item.title.length >= 50">...</span>
    </a>
    <p class="subtitle" ng-if="::item.channel">
        <span class="channel">by {{::item.channel}}</span><br />
        <span class="created">{{ ::item.created | timeAgo }}</span>
    </p>
    <p class="description" data-type="description" cw-reveal-label ng-if="::item.description">
        {{::item.description | limitTo : 75 }}<span ng-show="item.description.length >= 75">...</span>
    </p>
    <p class="description" ng-if="::(!item.description)">No description available.</p>
</div>
<div class="buttons">
    <app-send-to-tv ng-model="::item"></app-send-to-tv>
</div>
