.ui-video-list {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    list-style: none;
    list-style-position: outside;
    padding: 0;
    
}

.ui-video-list-item {
    position: relative;
    background-color: bg-video-list-item;
    float: left;
    overflow: hidden;
    padding-bottom: 10px;
    
    .img {
        position: relative;
        margin: 10px 10px 0px;
        display: block;

        &:hover {
            .showOnPlaylist {
                cursor: pointer;
                opacity: 1.0;
            }
        }

        img {
            max-width: 100%;
            width: 100%;
            height: auto;

            &.showOnPlaylist {
                position: absolute;
                width: 30%;
                top: 40px;
                left: 0;
                margin-left: 40%;
                opacity: 0.8;
                transform: scaleX(-1);
                transform: rotate(0);
            }
        }

        .duration,
        .items {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 40px;
            height: 20px;
            background-color: #000;
            color: #fff;
            font-size: 13px;
            span {
                display: block;
                width: 100%;
                text-align: center;
                padding-top:2px;
            }
        }

        .items span::before {
            content: "PL: "
        }
    }
    

    .metadata {
        height: 150px;
        padding: 0 10px;
        overflow: hidden;

        .title{
            color: color-title;
            padding: 0;
            margin: 0;
            font-size: 17px;
            line-height: 100%;
            font-weight: normal;
            font-family: source_sans_proregular;
            text-decoration: none;
            cursor: pointer;
        }

        .subtitle {
            .channel {
                color: color-author;
            }
            .created {
                color: color-created;
            }
            
            padding: 0;
            margin: 5px 0;
        }

        .description{
            padding: 0;
            margin: 5px 0;
        }
    }

    .buttons {
        display:none;
    }
}


.ui-video-list {
    &.list .ui-video-list-item {
        width: 100%;

        .img {
            width: 40%;
            float: left;
            margin-right: 5px;

            img {
                min-height: initial;
            }
        }
    }
}
