button.app-send-to-tv {
    font-family: source_sans_prolight;
    font-size: 20px;
    display: block;
    width: 50px;
    padding: 5px;
    background: #C4110B;
    border: 0;
    outline: 0;
    color: #fff;

    &:hover {
      cursor: pointer;
      background: #333;
    }
}