button.app-send-to-tv {
    font-family: source_sans_prolight;
    font-size: 20px;
    line-height: 100%;
    display: block;
    padding: 5px;
    background: bg-button;
    border: 0;
    outline: 0;
    color: #fff;

    svg {
        position: relative;
        top: 4px;
        width: auto;
        height: 20px;
        margin-right: 5px;
    }
    
    .label_sendToTv, .label_stopStreaming {
        position: relative;
        top: -1px;
    }
    
    .label_stopStreaming {
        display:none;
    }
    
    &:hover {
        cursor: pointer;
        background: #fff;
    }
}