<app-search class="app-search" placeholder="Search YouTube" value="{{ searchValue }}" trigger-search="button,enter,auto" auto-delay="500"></app-search>

<div class="{{ class || 'yt-viewer' }}" ng-class="{ 'playlist-visible': playlistVisible }">
  <h2 class="title">{{ video.title }} </h2>
  <div class="video">
    <yt-player></yt-player>
    <div class="yt-controls">Controls</div><!-- TODO: separate directive -->
    <div class="buttons">
        <app-send-to-tv ng-model="video"></app-send-to-tv>
        <button class="toggle-playlist" ng-click="playlistVisible = !playlistVisible">
            <span ng-show="playlistVisible">{{ ::('Hide video list' | translate) }}</span>
            <span ng-hide="playlistVisible">{{ ::('Show video list' | translate) }}</span>
        </button>
    </div>
    <yt-video-description></yt-video-description>
  </div>
  <div class="playlist" ng-show="playlistVisible">
    <h3>{{ ::(playlist.title | translate) }}</h3>
    <ui-video-list ng-model="playlist.items" display="list" play-fn="playVideo"></ui-video-list>
  </div>
</div>
<!-- TODO: remove ng-show/hide and base on css visibility? -->