.yt-viewer {
    margin: 10px auto;

    .video {
        float: left;
    }

    .buttons {
        position: relative;
        margin: 5px auto;

        .toggle-playlist {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }

    &.playlist-visible {
        .video {
        }
    }
}

.yt-player {
    height: 600px;
}

.yt-video-description {
    .metadata {
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid gray 1px

        div {
            float: left;
            width: 200px;

            &.row {
                clear: both;
            }
        }
    }
}

.yt-viewer .playlist {
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;

    .app-send-to-tv {
        display: none;
    }
}

.yt-controls {
    display: none;
}

.tvmode {

    .yt-viewer, .video, .yt-player {
        height: 100%;
        width: 100% !important;
        position: relative;
    }

    .yt-viewer {
        h2,
        .buttons {
            display:none;
        }
    }

    .yt-player {
        position: absolute;
    }

    .yt-controls {
        position: absolute;
        bottom: 10px;
        height: 200px;
        width: 100%;
        border: solid pink 2px;
        display: block;
    }

    app-search,
    .yt-video-description,
    .playlist {
        display: none;
    }
}
