.yt-viewer {
    margin: 10px auto;
    background-color: bg-yt-viewer;
    height: 100%;
    
    h2 {
        display:none;
    }
    
    .video {
        float: left;
        
    }

    .buttons {
        position: relative;
        margin: 5px auto;
        clearfix();
        
        button {
            font-family: source_sans_prolight;
            height: 35px;
            font-size: 20px;
            line-height: 100%;
            display: block;
            padding: 5px;
            background: bg-button;
            border: 0;
            outline: 0;
            color: #fff;

            &:hover {
                cursor: pointer;
                background: #333;
            }
        }
        
        .toggle-playlist {
            float: right;
            margin-top: -35px;
            width: auto;
            
            .label_showPlaylist,
            .label_hidePlaylist {
                img {
                    height: 20px;
                    width: auto;
                    position: relative;
                    top: 3px;
                }
            }
            
            .label_showPlaylist {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &.playlist-visible {
        .video {
        }
    }
}

.yt-player {
    height: 600px;
}

.yt-video-description {
    .metadata {
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid gray 1px;

        div {
            float: left;
            width: 200px;

            &.row {
                clear: both;
            }
        }
    }
}

.yt-viewer .playlist {
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;

    .app-send-to-tv {
        display: none;
    }
    
    .ui-video-list-item {
        width: 100%;
    }
}

.yt-controls {
    display: none;
}

.tvmode {

    .yt-viewer, .video, .yt-player {
        height: 100%;
        width: 100% !important;
        position: relative;
    }

    .yt-viewer {
        h2,
        .buttons {
            display:none;
        }
    }

    .yt-player {
        position: absolute;
    }

    .yt-controls {
        position: absolute;
        bottom: 10px;
        height: 200px;
        width: 100%;
        border: solid pink 2px;
        display: block;
    }

    app-search,
    .yt-video-description,
    .playlist {
        display: none;
    }
}
