@font-face {
  font-family: 'source_sans_prolight';
  src: url("styles/fonts/sourcesanspro-light-webfont.eot");
  src: url("styles/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot");
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: source_sans_proregular;
  font-size: 100%;
  font-weight: normal;
}
html.tvmode,
body.tvmode {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
body {
  background-color: #dadada;
}
.container {
  min-height: 100vh;
  background: #dadada;
  color: #333;
  margin: 0 auto;
  padding: 0 30px;
  zoom: 1;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
h2 {
  font-size: 25px;
  line-height: 200%;
  margin: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tile-label-semi-transparent {
  opacity: 1;
}
.tile-label-hidden-part {
  opacity: 0;
}
.tile-label-semi-transparent-20 {
  opacity: 0.2;
}
.tile-label-semi-transparent-40 {
  opacity: 0.4;
}
.tile-label-semi-transparent-60 {
  opacity: 0.6;
}
.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
.app-search {
  padding: 30px 0px;
  position: relative;
}
.app-search .query {
  font-family: source_sans_prolight;
  font-size: 24px;
  display: block;
  height: 50px;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
  color: #333;
}
.app-search button.search {
  width: 35px;
  height: 50px;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 35px;
}
.app-search button.search:hover path {
  fill: #000;
}
.ui-video-list {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
.ui-video-list-item {
  position: relative;
  background-color: #f6f6f6;
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}
.ui-video-list-item .img {
  position: relative;
  margin: 10px 10px 0px;
  display: block;
}
.ui-video-list-item .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.ui-video-list-item .img .duration,
.ui-video-list-item .img .items {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 20px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}
.ui-video-list-item .img .duration span,
.ui-video-list-item .img .items span {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 2px;
}
.ui-video-list-item .img .items span::before {
  content: "PL: ";
}
.ui-video-list-item .playBtn {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 100;
}
.ui-video-list-item .playBtn .playimg svg {
  opacity: 0.8;
  padding: 10px;
}
.ui-video-list-item .playBtn .playimg:hover {
  cursor: pointer;
}
.ui-video-list-item .playBtn .playimg:hover svg {
  opacity: 1;
}
.ui-video-list-item .metadata {
  height: 150px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 13px;
}
.ui-video-list-item .metadata .title {
  color: #090;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 100%;
  font-weight: normal;
  font-family: source_sans_proregular;
}
.ui-video-list-item .metadata .subtitle {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .metadata .subtitle .channel {
  color: color-author;
}
.ui-video-list-item .metadata .subtitle .created {
  color: #666;
}
.ui-video-list-item .metadata .description {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .buttons {
  display: none;
}
.ui-video-list.list .ui-video-list-item {
  width: 100%;
}
.ui-video-list.list .ui-video-list-item .img {
  width: 40%;
  float: left;
  margin-right: 5px;
}
.ui-video-list.list .ui-video-list-item .img img {
  min-height: initial;
}
.yt-result-set .result {
  clear: both;
}
.yt-viewer {
  margin: 0 auto 30px;
  background-color: #f6f6f6;
  min-height: 75vh;
  overflow: hidden;
  padding-bottom: 30px;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
}
.yt-viewer h2 {
  display: none;
  color: #090;
}
.yt-viewer h3 {
  font-family: 'source_sans_prolight';
  font-size: 1.4275em;
  margin: 20px 0 13px;
}
.yt-viewer .video {
  float: left;
}
.yt-viewer .buttons {
  position: relative;
  margin: 15px auto 0;
  zoom: 1;
}
.yt-viewer .buttons:after,
.yt-viewer .buttons:before {
  content: "";
  display: table;
}
.yt-viewer .buttons:after {
  clear: both;
}
.yt-viewer .buttons button {
  font-family: source_sans_prolight;
  height: 35px;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding: 5px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.yt-viewer .buttons button:hover {
  cursor: pointer;
  background: #fff;
}
.yt-viewer .buttons .toggle-playlist {
  float: right;
  margin-top: -35px;
  width: auto;
}
.yt-viewer .buttons .toggle-playlist .label_showPlaylist img,
.yt-viewer .buttons .toggle-playlist .label_hidePlaylist img {
  height: 20px;
  width: auto;
  position: relative;
  top: 3px;
  margin: 0 0 0 5px;
}
.yt-viewer .buttons .toggle-playlist .label_showPlaylist img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: 0 5px 0 0;
}
.yt-viewer.playlist-visible {
  background-color: #c6c6c6;
}
.yt-player {
  height: 600px;
}
.yt-video-description {
  margin-top: 30px;
}
.yt-video-description .metadata {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid #666 1px;
  color: #333;
  font-size: 1em;
}
.yt-video-description .metadata div {
  float: left;
  width: 200px;
}
.yt-video-description .metadata div.row {
  clear: both;
}
.yt-viewer .playlist {
  height: 75vh;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.yt-viewer .playlist .ui-video-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.yt-viewer .playlist .app-send-to-tv {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item {
  zoom: 1;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #dadada;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
.yt-viewer .playlist .ui-video-list-item:after,
.yt-viewer .playlist .ui-video-list-item:before {
  content: "";
  display: table;
}
.yt-viewer .playlist .ui-video-list-item:after {
  clear: both;
}
.yt-viewer .playlist .ui-video-list-item:first-child {
  border-top: 0;
}
.yt-viewer .playlist .ui-video-list-item .playBtn {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 70px;
  height: 70px;
  padding: 5px;
}
.yt-viewer .playlist .ui-video-list-item .playBtn .playimg img {
  position: relative;
  top: 15px;
  left: 15px;
}
.yt-viewer .playlist .ui-video-list-item .playBtn .playimg img.showOnResultList {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item .playBtn .playimg img.showOnPlaylist {
  display: block;
}
.yt-viewer .playlist .ui-video-list-item .img {
  margin: 0;
  width: 125px;
  height: 70px;
  float: left;
  margin: 5px auto;
}
.yt-viewer .playlist .ui-video-list-item .metadata {
  padding: 10px;
  height: auto;
}
.yt-viewer .playlist .ui-video-list-item .metadata .title {
  color: #333;
  font-size: 1.125em;
  width: 100%;
  line-height: 150%;
  height: 25px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.yt-viewer .playlist .ui-video-list-item .metadata .channel {
  font-size: 0.8125em;
  width: 100%;
  overflow: hidden;
  height: 13px;
}
.yt-viewer .playlist .ui-video-list-item .metadata .description,
.yt-viewer .playlist .ui-video-list-item .metadata .created {
  display: none;
}
.yt-controls {
  display: none;
}
.tvmode.fullscreen .container {
  padding: 0 !important;
}
.tvmode.fullscreen .yt-viewer,
.tvmode.fullscreen .video,
.tvmode.fullscreen .yt-player {
  height: 1080px !important;
  width: 1920px !important;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.tvmode.fullscreen .yt-viewer h2,
.tvmode.fullscreen .yt-viewer .buttons {
  display: none;
}
.tvmode.fullscreen .yt-player {
  position: absolute;
}
.tvmode.fullscreen .yt-controls {
  position: absolute;
  bottom: 10px;
  height: 200px;
  width: 100%;
  border: solid #ffc0cb 2px;
  display: block;
}
.tvmode.fullscreen app-search,
.tvmode.fullscreen .yt-video-description,
.tvmode.fullscreen .playlist {
  display: none;
}
button.app-send-to-tv {
  font-family: source_sans_prolight;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding: 5px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
}
button.app-send-to-tv svg {
  position: relative;
  top: 4px;
  width: auto;
  height: 20px;
  margin-right: 5px;
}
button.app-send-to-tv .label_sendToTv,
button.app-send-to-tv .label_stopStreaming {
  position: relative;
  top: -1px;
}
button.app-send-to-tv .label_stopStreaming {
  display: none;
}
button.app-send-to-tv:hover {
  cursor: pointer;
  background: #fff;
}
@media (min-width: 320px) {
  .container,
  .yt-viewer,
  .yt-video-description {
    width: 300px;
  }
  .container {
    position: relative;
  }
  .app-search .query {
    padding-left: 10px;
    width: 290px;
  }
  .ui-video-list-item {
    width: 300px;
    margin: 0 0 30px 0;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: none;
  }
  .yt-viewer .playlist {
    width: 100%;
  }
  .yt-viewer .playlist .ui-video-list-item {
    margin: 0;
  }
  .yt-viewer .video .yt-player {
    width: 100%;
    height: 225px;
  }
}
@media (min-width: 480px) {
  .container,
  .yt-viewer,
  .yt-video-description {
    width: 460px;
  }
  .app-search .query {
    padding-left: 10px;
    width: 460px;
  }
  .ui-video-list-item {
    width: 215px;
    margin: 0 0 30px 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 0;
  }
  .yt-playlist .ui-video-list-item {
    width: 100%;
  }
  .yt-viewer .video .yt-player {
    height: 345px;
  }
}
@media (min-width: 640px) {
  .container,
  .yt-viewer,
  .yt-player,
  .yt-video-description {
    width: 620px;
  }
  .ui-video-list-item {
    width: 290px;
    margin: 0 0 30px 30px;
  }
  .yt-player .ui-video-list-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container,
  .yt-viewer {
    width: 510px;
  }
  .app-search .query {
    padding-left: 15px;
    width: 495px;
  }
  .app-search button.search {
    margin-right: 15px;
  }
  .ui-video-list-item {
    width: 240px;
    height: 260px;
    margin-left: 30px;
  }
  .ui-video-list-item .playBtn {
    width: 30px;
    height: auto;
    top: 57px;
    left: 104px;
  }
  .ui-video-list-item .img {
    height: 124px;
    margin-bottom: 10px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 0;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .yt-viewer .video {
    width: 450px;
    margin: 30px;
    zoom: 1;
  }
  .yt-viewer .video:after,
  .yt-viewer .video:before {
    content: "";
    display: table;
  }
  .yt-viewer .video:after {
    clear: both;
  }
  .yt-viewer .video .yt-player {
    height: 245px;
  }
  .yt-viewer .video .yt-video-description {
    width: 450px;
  }
  .yt-viewer .playlist {
    width: 450px;
    position: relative;
    left: 30px;
    top: 0;
  }
  .yt-viewer .playlist .playBtn img {
    width: 40px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 780px;
    padding: 0 30px;
  }
  .app-search .query {
    padding-left: 15px;
    width: 765px;
  }
  .app-search button.search {
    margin-right: 15px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 0;
  }
  .yt-viewer {
    width: 780px;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: block;
  }
  .yt-viewer .video {
    width: 720px;
    margin: 60px 0 0 30px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-player {
    height: 405px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-video-description {
    width: 720px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer .playlist {
    width: 290px;
    float: right;
    margin-right: -320px;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video {
    width: 400px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 225px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 400px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .playlist {
    margin-right: 60px;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .container,
  .yt-viewer {
    width: 1050px;
  }
  .app-search .query {
    padding-left: 30px;
    width: 1020px;
  }
  .app-search button.search {
    margin-right: 30px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 0;
  }
  .yt-viewer .video {
    width: 930px;
    margin: 60px 60px 0;
  }
  .yt-viewer .video .yt-player {
    height: 524px;
  }
  .yt-viewer .video .yt-video-description {
    width: 930px;
  }
  .yt-viewer.playlist-visible .video {
    width: 520px;
    margin-right: 0;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 350px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 520px;
  }
  .yt-viewer.playlist-visible .playlist {
    width: 350px;
    margin-right: 90px;
  }
}
@media (min-width: 1400px) {
  .container,
  .yt-viewer {
    width: 1250px;
  }
  .app-search .query {
    width: 1220px;
  }
  .ui-video-list-item {
    width: 290px;
    height: 320px;
  }
  .ui-video-list-item .playBtn {
    width: 50px;
    top: 61px;
    left: 120px;
  }
  .ui-video-list-item .img {
    height: 152px;
  }
  .yt-viewer .video {
    width: 1130px;
  }
  .yt-viewer .video .yt-player {
    height: 636px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1130px;
  }
  .yt-viewer.playlist-visible .video {
    width: 630px;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 355px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 630px;
  }
  .yt-viewer.playlist-visible .playlist {
    width: 440px;
  }
}
@media (min-width: 1600px) {
  .container,
  .yt-viewer {
    width: 1450px;
  }
  .app-search .query {
    width: 1420px;
  }
  .ui-video-list-item {
    width: 340px;
    height: 370px;
  }
  .ui-video-list-item .playBtn {
    width: 60px;
    top: 70px;
    left: 140px;
  }
  .ui-video-list-item .img {
    height: 180px;
  }
  .yt-viewer .video {
    width: 1330px;
  }
  .yt-viewer .video .yt-player {
    height: 749px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1330px;
  }
  .yt-viewer.playlist-visible .video {
    width: 740px;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 417px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 740px;
  }
  .yt-viewer.playlist-visible .playlist {
    width: 530px;
  }
}
