@font-face {
  font-family: 'source_sans_prolight';
  src: url("styles/fonts/sourcesanspro-light-webfont.eot");
  src: url("styles/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot");
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: source_sans_proregular;
  font-size: 100%;
  font-weight: normal;
}
html.tvmode,
body.tvmode {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
body {
  background-color: #dadada;
}
.container {
  position: relative;
  height: auto;
  min-height: 90vh;
  background: #dadada;
  color: #333;
  margin: 0 auto;
  zoom: 1;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
h2 {
  font-size: 25px;
  line-height: 200%;
  margin: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tile-label-semi-transparent {
  opacity: 1;
}
.tile-label-hidden-part {
  opacity: 0;
}
.tile-label-semi-transparent-20 {
  opacity: 0.2;
}
.tile-label-semi-transparent-40 {
  opacity: 0.4;
}
.tile-label-semi-transparent-60 {
  opacity: 0.6;
}
.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
.app-search {
  position: relative;
  width: 100%;
  padding: 30px 0px;
}
.app-search .query {
  font-family: source_sans_prolight;
  font-size: 24px;
  color: #999;
  display: block;
  width: 95%;
  height: 50px;
  padding-left: 5%;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
}
.app-search button.search {
  width: 35px;
  height: 50px;
  position: absolute;
  top: 35px;
  right: 5%;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.app-search button.search:hover path {
  fill: #000;
}
.ui-video-list {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
.ui-video-list-item {
  display: block;
  width: 240px;
  height: 260px;
  margin: 0 auto 30px;
  position: relative;
  background-color: #f6f6f6;
  float: none;
  overflow: hidden;
  padding-bottom: 10px;
}
.ui-video-list-item .img {
  display: block;
  width: auto;
  height: 124px;
  position: relative;
  margin: 10px;
}
.ui-video-list-item .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.ui-video-list-item .img svg {
  width: 30px;
  height: auto;
  position: absolute;
  top: 37px;
  left: 90px;
  opacity: 0.8;
  padding: 10px;
}
.ui-video-list-item .img:hover {
  cursor: pointer;
}
.ui-video-list-item .img:hover svg {
  opacity: 1;
}
.ui-video-list-item .img .duration,
.ui-video-list-item .img .items {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 18px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  padding: 2px 2px 0;
}
.ui-video-list-item .img .duration span,
.ui-video-list-item .img .items span {
  display: block;
  width: 100%;
  text-align: center;
}
.ui-video-list-item .img .items span::before {
  content: "PL: ";
}
.ui-video-list-item .metadata {
  height: 150px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 13px;
}
.ui-video-list-item .metadata .title {
  color: #090;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 125%;
  font-weight: normal;
  font-family: source_sans_proregular;
  text-decoration: none;
}
.ui-video-list-item .metadata .subtitle {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .metadata .subtitle .channel {
  color: color-author;
}
.ui-video-list-item .metadata .subtitle .created {
  color: #666;
}
.ui-video-list-item .metadata .description {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .buttons {
  display: none;
}
.ui-video-list.list .ui-video-list-item {
  width: 100%;
}
.ui-video-list.list .ui-video-list-item .img {
  width: 40%;
  float: left;
  margin-right: 5px;
}
.ui-video-list.list .ui-video-list-item .img img {
  min-height: initial;
}
.yt-result-set .result {
  clear: both;
}
.yt-viewer {
  margin: 0 auto 30px;
  background-color: #f6f6f6;
  min-height: 75vh;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  zoom: 1;
}
.yt-viewer:after,
.yt-viewer:before {
  content: "";
  display: table;
}
.yt-viewer:after {
  clear: both;
}
.yt-viewer h2 {
  display: none;
  color: #090;
}
.yt-viewer h3 {
  font-family: 'source_sans_prolight';
  font-size: 1.4275em;
  margin: 20px 0 13px;
  color: #666;
}
.yt-viewer .video {
  float: left;
  position: relative;
}
.yt-viewer .video .overlay {
  position: absolute;
  background-color: rgba(51,51,51,0.7);
  top: -672px;
  height: 687px;
  font-size: 30px;
  display: table;
}
.yt-viewer .video .overlay div {
  display: table-cell;
  vertical-align: middle;
  font-family: 'source_sans_prolight';
  text-transform: uppercase;
  font-size: 1.7375em;
  text-align: center;
  color: #fff;
}
.yt-viewer .buttons {
  position: relative;
  margin: 15px auto 0;
  zoom: 1;
}
.yt-viewer .buttons:after,
.yt-viewer .buttons:before {
  content: "";
  display: table;
}
.yt-viewer .buttons:after {
  clear: both;
}
.yt-viewer .buttons button {
  font-family: source_sans_prolight;
  height: 35px;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding: 5px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.yt-viewer .buttons button:hover {
  cursor: pointer;
  background: #fff;
  color: #090;
}
.yt-viewer .buttons button:hover svg path,
.yt-viewer .buttons button:hover svg rect,
.yt-viewer .buttons button:hover svg polygon {
  fill: #090;
}
.yt-viewer .buttons .toggle-playlist {
  float: right;
  margin-top: -35px;
  width: auto;
}
.yt-viewer .buttons .toggle-playlist svg {
  height: 20px;
  width: auto;
  position: relative;
  top: 3px;
  margin: 0 0 0 5px;
}
.yt-viewer .buttons .toggle-playlist .label_showPlaylist svg {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0 5px 0 0;
}
.yt-viewer.playlist-visible {
  background-color: #c6c6c6;
}
yt-player {
  width: 100%;
  position: relative;
}
yt-player .yt-player,
yt-player .overlay {
  width: 100%;
}
.yt-video-description {
  margin-top: 20px;
  zoom: 1;
}
.yt-video-description:after,
.yt-video-description:before {
  content: "";
  display: table;
}
.yt-video-description:after {
  clear: both;
}
.yt-video-description .metadata {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid #666 1px;
  color: #333;
  font-size: 1em;
}
.yt-video-description .metadata div {
  float: left;
  width: 200px;
}
.yt-video-description .metadata div.row {
  clear: both;
}
.yt-viewer .playlist {
  height: 75vh;
  margin-bottom: 30px;
}
.yt-viewer .playlist .ui-video-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.yt-viewer .playlist .app-send-to-tv {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item {
  zoom: 1;
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: #dadada;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
.yt-viewer .playlist .ui-video-list-item:after,
.yt-viewer .playlist .ui-video-list-item:before {
  content: "";
  display: table;
}
.yt-viewer .playlist .ui-video-list-item:after {
  clear: both;
}
.yt-viewer .playlist .ui-video-list-item:first-child {
  border-top: 0;
}
.yt-viewer .playlist .ui-video-list-item ui-video-list-play-arrow {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item .img {
  margin: 0;
  width: 150px;
  height: 50px;
  float: left;
  padding: 5px 0;
}
.yt-viewer .playlist .ui-video-list-item .img .index {
  position: absolute;
  font-size: 1.75em;
  text-align: center;
  padding-top: 5px;
  width: 55px;
  color: #666;
}
.yt-viewer .playlist .ui-video-list-item .img img {
  float: right;
  width: 90px;
  height: 50px;
}
.yt-viewer .playlist .ui-video-list-item .img svg {
  position: relative;
  top: 17px;
  left: 20px;
  float: left;
  width: 17px;
  height: 15px;
  padding: 0;
}
.yt-viewer .playlist .ui-video-list-item .img svg polygon {
  -webkit-filter: none;
  filter: none;
}
.yt-viewer .playlist .ui-video-list-item .img .duration {
  right: 0;
  bottom: 5px;
}
.yt-viewer .playlist .ui-video-list-item .metadata {
  margin: 5px 10px;
  height: auto;
}
.yt-viewer .playlist .ui-video-list-item .metadata .title {
  color: #333;
  font-size: 1.125em;
  min-width: 50%;
  line-height: 150%;
  height: 25px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.yt-viewer .playlist .ui-video-list-item .metadata .channel {
  font-size: 0.8125em;
  width: 100%;
  overflow: hidden;
  height: 13px;
}
.yt-viewer .playlist .ui-video-list-item .metadata .description,
.yt-viewer .playlist .ui-video-list-item .metadata .created {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item.playing {
  background-color: #666;
}
.yt-viewer .playlist .ui-video-list-item.playing .index {
  display: none;
}
.yt-viewer .playlist .ui-video-list-item.playing ui-video-list-play-arrow {
  display: block;
}
.yt-viewer .playlist .ui-video-list-item.playing .metadata .title,
.yt-viewer .playlist .ui-video-list-item.playing .metadata .channel {
  color: #fff;
}
.yt-controls {
  display: none;
}
.tvmode.fullscreen .container {
  padding: 0 !important;
}
.tvmode.fullscreen .yt-viewer,
.tvmode.fullscreen .video,
.tvmode.fullscreen .yt-player {
  height: 1080px !important;
  width: 1920px !important;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.tvmode.fullscreen .yt-viewer h2,
.tvmode.fullscreen .yt-viewer .buttons {
  display: none;
}
.tvmode.fullscreen .yt-player {
  position: absolute;
}
.tvmode.fullscreen .yt-controls {
  position: absolute;
  bottom: 10px;
  height: 200px;
  width: 100%;
  border: solid #ffc0cb 2px;
  display: block;
}
.tvmode.fullscreen app-search,
.tvmode.fullscreen .yt-video-description,
.tvmode.fullscreen .playlist {
  display: none;
}
button.app-send-to-tv {
  font-family: source_sans_prolight;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding: 5px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
}
button.app-send-to-tv svg {
  position: relative;
  top: 4px;
  width: auto;
  height: 20px;
  margin-right: 5px;
}
button.app-send-to-tv .label_sendToTv,
button.app-send-to-tv .label_stopStreaming {
  position: relative;
  top: -1px;
}
button.app-send-to-tv:hover {
  cursor: pointer;
  background: #fff;
}
@media (min-width: 320px) {
  .container,
  .yt-viewer {
    width: 300px;
  }
  .list-title {
    margin: 0 0 0 30px;
  }
  .yt-viewer .yt-video-description {
    width: 270px;
    padding: 5px;
  }
  .yt-viewer .video {
    width: 280px;
    margin: 10px 10px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 185px;
  }
  .yt-viewer .video .overlay {
    top: -170px;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: none;
  }
  .yt-viewer .playlist {
    float: right;
    margin: 10px;
    width: 280px;
  }
  .yt-viewer .playlist .ui-video-list-item {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 480px) {
  .container,
  .yt-viewer {
    width: 460px;
  }
  .list-title {
    margin: 0 0 0 30px;
  }
  .yt-viewer .yt-video-description {
    width: 430px;
  }
  .yt-viewer .video {
    width: 440px;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 248px;
  }
  .yt-viewer .video .overlay {
    top: -233px;
  }
  .yt-viewer .playlist {
    width: 440px;
  }
}
@media (min-width: 640px) {
  .container,
  .yt-viewer {
    width: 600px;
  }
  .list-title {
    margin-left: 40px;
  }
  .ui-video-list-item {
    float: left;
    margin-left: 40px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .yt-viewer .yt-video-description {
    width: 550px;
  }
  .yt-viewer .video {
    width: 560px;
    margin: 20px 20px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 327px;
  }
  .yt-viewer .video .overlay {
    top: -312px;
  }
  .yt-viewer .playlist {
    margin: 20px;
    width: 560px;
  }
}
@media (min-width: 768px) {
  .container,
  .yt-viewer {
    width: 740px;
  }
  .app-search .query {
    width: 730px;
    padding-left: 10px;
  }
  .app-search button.search {
    right: 10px;
  }
  .list-title {
    margin: 0;
  }
  .ui-video-list-item {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 10px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 0;
  }
  .yt-viewer .video {
    width: 700px;
    margin: 20px;
    float: left;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-player {
    height: 394px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer .video .overlay {
    height: 394px;
    top: -379px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-video-description {
    width: 680px;
    padding: 10px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: block;
  }
  .yt-viewer .playlist {
    position: relative;
    width: 280px;
    float: right;
    margin: 20px -280px 20px 0;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
  .yt-viewer .playlist h3 {
    display: none;
  }
  .yt-viewer.playlist-visible .video {
    width: 400px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 225px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .overlay {
    height: 225px;
    top: -210px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 380px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .playlist {
    margin: 20px 20px 20px 0;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
}
@media (min-width: 992px) {
  .container,
  .yt-viewer {
    width: 960px;
  }
  .app-search .query {
    padding-left: 20px;
    width: 940px;
  }
  .app-search button.search {
    margin-right: 20px;
  }
  .list-title {
    margin-left: 90px;
  }
  .ui-video-list-item {
    margin-left: 90px;
    margin-bottom: 30px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 90px;
  }
  .yt-viewer .video {
    width: 900px;
    margin: 30px 30px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 507px;
  }
  .yt-viewer .video .overlay {
    top: -492px;
  }
  .yt-viewer .video .yt-video-description {
    width: 880px;
  }
  .yt-viewer .playlist {
    width: 370px;
    margin: 30px -370px 30px 0;
  }
  .yt-viewer.playlist-visible .video {
    width: 500px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 282px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    top: -267px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 480px;
  }
  .yt-viewer.playlist-visible .playlist {
    margin: 30px 30px 30px 0;
  }
}
@media (min-width: 1200px) {
  .container,
  .yt-viewer {
    width: 1140px;
  }
  .app-search .query {
    padding-left: 30px;
    width: 1110px;
  }
  .app-search button.search {
    margin-right: 30px;
  }
  .list-title {
    margin-left: 45px;
  }
  .ui-video-list-item {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 45px;
  }
  .yt-viewer .video {
    width: 1020px;
    margin: 60px 60px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 580px;
  }
  .yt-viewer .video .overlay {
    top: -565px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1000px;
  }
  .yt-viewer .playlist {
    width: 410px;
    margin: 0 -410px 60px 0;
  }
  .yt-viewer .playlist h3 {
    display: block;
  }
  .yt-viewer.playlist-visible .video {
    width: 550px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 310px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    top: -295px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 530px;
  }
  .yt-viewer.playlist-visible .playlist {
    margin: 0 60px 60px 0;
  }
}
@media (min-width: 1400px) {
  .container,
  .yt-viewer {
    width: 1340px;
  }
  .app-search .query {
    width: 1310px;
  }
  .list-title {
    margin-left: 130px;
  }
  .ui-video-list-item {
    margin-left: 10px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 130px;
  }
  .yt-viewer .video {
    width: 1220px;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 687px;
  }
  .yt-viewer .video .overlay {
    top: -672px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1200px;
  }
  .yt-viewer .playlist {
    width: 510px;
    margin-right: -510px;
  }
  .yt-viewer.playlist-visible .video {
    width: 650px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 366px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    top: -351px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 630px;
  }
  .yt-viewer.playlist-visible .playlist {
    margin-right: 60px;
  }
}
