@font-face {
  font-family: 'source_sans_prolight';
  src: url("styles/fonts/sourcesanspro-light-webfont.eot");
  src: url("styles/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot");
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
html.tvmode,
body.tvmode {
  border: solid #008000 1px;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.container {
  background: #fff;
  color: #333;
  width: 96%;
  height: auto;
  margin: 25px auto;
  font-family: source_sans_prolight;
  font-size: 14px;
  font-weight: normal;
}
.pcmode .tp-header,
.fullscreen .tp-header {
  display: none;
}
.tvmode .container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.tile-label-semi-transparent {
  opacity: 1;
}
.tile-label-hidden-part {
  opacity: 0;
}
.tile-label-semi-transparent-20 {
  opacity: 0.2;
}
.tile-label-semi-transparent-40 {
  opacity: 0.4;
}
.tile-label-semi-transparent-60 {
  opacity: 0.6;
}
.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
.app-search {
  padding: 0px 0px 20px 0px;
}
.app-search .query {
  font-family: source_sans_prolight;
  font-size: 24px;
  display: block;
  width: 96%;
  padding: 0 2%;
  height: 50px;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
  color: #333;
}
.app-search button.search {
  width: 35px;
  height: 50px;
  background: none;
  border: 0;
  outline: 0;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}
.app-search button.search:.app-search--button:hover {
  cursor: pointer;
}
.app-search button.search:.app-search--button:hover path {
  fill: #fff;
}
.ui-video-list {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  display: block;
}
.ui-video-list-item {
  position: relative;
  padding: 0;
  background-color: #f4f4f4;
  float: left;
}
.ui-video-list-item .img {
  position: relative;
  width: 90%;
  margin: 5px auto 5px auto;
  display: block;
  min-height: 150px;
}
.ui-video-list-item .img img {
  width: 100%;
  min-height: 150px;
}
.ui-video-list-item .img .duration,
.ui-video-list-item .img .items {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 60px;
  height: 30px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 2px;
}
.ui-video-list-item .img .items span::before {
  content: "PL: ";
}
.ui-video-list-item .playimg {
  position: absolute;
  top: 10px;
  height: 50px;
  opacity: 0.8;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
}
.ui-video-list-item .playimg:hover {
  cursor: pointer;
  opacity: 1;
}
.ui-video-list-item .metadata {
  height: 150px;
  padding: 5px 10px;
}
.ui-video-list-item .metadata .title {
  color: #c4110b;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  font-family: source_sans_prolight;
}
.ui-video-list-item .metadata .subtitle {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .metadata .description {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .buttons {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 50px;
}
.yt-result-set .result {
  clear: both;
}
.yt-result-set .result h2 {
  margin-bottom: 0;
}
.yt-viewer {
  width: 800px;
}
.yt-viewer .video {
  float: left;
}
.yt-player {
  width: 800px;
  height: 600px;
  border: solid #f00 2px;
}
.yt-video-description {
  width: 800px;
  height: 300px;
  border: solid #ffa500 2px;
}
.yt-playlist {
  width: 300px;
  height: 900px;
  border: solid #000 2px;
  margin-left: 800px;
}
.yt-controls {
  display: none;
}
.tvmode .yt-viewer,
.tvmode .video,
.tvmode .yt-player {
  height: 100%;
  width: 100%;
  position: relative;
}
.tvmode .yt-player {
  position: absolute;
}
.tvmode .yt-controls {
  position: absolute;
  bottom: 10px;
  height: 200px;
  width: 100%;
  border: solid #ffc0cb 2px;
  display: block;
}
.tvmode .yt-video-description,
.tvmode .yt-playlist {
  display: none;
}
button.app-send-to-tv {
  font-family: source_sans_prolight;
  font-size: 20px;
  display: block;
  width: 50px;
  padding: 5px;
  background: #c4110b;
  border: 0;
  outline: 0;
  color: #fff;
}
button.app-send-to-tv:hover {
  cursor: pointer;
  background: #333;
}
@media (min-width: 320px) {
  .container,
  .ui-video-list-item {
    width: 300px;
  }
  .ui-video-list-item {
    margin: 0;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) {
  .container,
  .ui-video-list-item {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .ui-video-list-item {
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 0;
  }
  .ui-video-list-item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .ui-video-list-item {
    width: 220px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .ui-video-list-item {
    width: 270px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 30px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
  .ui-video-list-item {
    width: 320px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 30px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
  .ui-video-list-item {
    width: 370px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 30px;
  }
}
@media (min-width: 1800px) {
  .container {
    width: 1770px;
  }
  .ui-video-list-item {
    width: 420px;
  }
  .ui-video-list-item:nth-child(2) {
    margin-right: 30px;
  }
}
