@font-face {
  font-family: 'source_sans_prolight';
  src: url("styles/fonts/sourcesanspro-light-webfont.eot");
  src: url("styles/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot");
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: source_sans_proregular;
  font-size: 100%;
  font-weight: normal;
}
html.tvmode,
body.tvmode {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
body {
  background-color: #dadada;
}
.container {
  position: relative;
  height: auto;
  min-height: 90vh;
  background: #dadada;
  color: #333;
  margin: 0 auto;
  zoom: 1;
  clear: both;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
h2 {
  font-size: 25px;
  line-height: 200%;
  margin: 0;
}
.clearfix {
  zoom: 1;
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.tile-label-semi-transparent {
  opacity: 1;
}
.tile-label-hidden-part {
  opacity: 0;
}
.tile-label-semi-transparent-20 {
  opacity: 0.2;
}
.tile-label-semi-transparent-40 {
  opacity: 0.4;
}
.tile-label-semi-transparent-60 {
  opacity: 0.6;
}
.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
app-search {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0px;
}
app-search .query {
  font-family: source_sans_prolight;
  font-size: 24px;
  color: #999;
  display: block;
  width: 95%;
  height: 50px;
  padding-left: 10px;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
}
app-search button.search {
  width: 35px;
  height: 50px;
  position: absolute;
  top: 35px;
  right: 10px;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
app-search button.search:hover path {
  fill: #000;
}
.list-title {
  width: 240px;
  margin: 0 auto;
}
.list-title.search {
  display: none;
}
.ui-video-list {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
.ui-video-list .load-more {
  background-color: #090;
  font-family: source_sans_prolight;
  text-align: center;
  height: 34px;
  font-size: 18px;
  line-height: 100%;
  display: block;
  padding: 4px 10px;
  margin: 0 auto 20px;
  border: 0;
  outline: 0;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  -ms-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.ui-video-list .load-more svg {
  height: auto;
  width: 12px;
  position: relative;
  top: 2px;
  margin: 0 0 0 5px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ui-video-list .load-more svg polygon {
  -webkit-filter: none;
  filter: none;
}
.ui-video-list .load-more:hover {
  color: #090;
  background-color: #fff;
  cursor: pointer;
}
.ui-video-list .load-more:hover svg polygon {
  fill: #090;
}
.ui-video-list.popular .load-more {
  display: none;
}
.ui-video-list .spinner {
  text-align: center;
  display: none;
}
.ui-video-list .spinner.loading {
  display: block;
}
.ui-video-list-item {
  display: block;
  width: 240px;
  height: 260px;
  margin: 0 auto 30px;
  position: relative;
  background-color: #f6f6f6;
  float: none;
  overflow: hidden;
  padding: 0 0 10px 0;
}
.ui-video-list-item .img {
  display: block;
  width: auto;
  height: 124px;
  position: relative;
  margin: 10px;
}
.ui-video-list-item .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.ui-video-list-item .img svg {
  width: 30px;
  height: auto;
  position: absolute;
  top: 37px;
  left: 90px;
  opacity: 0.8;
  padding: 10px;
}
.ui-video-list-item .img:hover {
  cursor: pointer;
}
.ui-video-list-item .img:hover svg {
  opacity: 1;
}
.ui-video-list-item .img .duration,
.ui-video-list-item .img .items {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 18px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  padding: 2px 2px 0;
}
.ui-video-list-item .img .duration span,
.ui-video-list-item .img .items span {
  display: block;
  width: 100%;
  text-align: center;
}
.ui-video-list-item .img .items {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  zoom: 1;
  clear: both;
}
.ui-video-list-item .img .items:after,
.ui-video-list-item .img .items:before {
  content: "";
  display: table;
}
.ui-video-list-item .img .items svg {
  position: relative;
  float: left;
  width: auto;
  height: 14px;
  margin-right: 5px;
  top: 1px;
  left: 1px;
  padding: 0;
}
.ui-video-list-item .img .items span {
  float: right;
  width: auto;
  color: #000;
}
.ui-video-list-item .metadata {
  height: 150px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 13px;
}
.ui-video-list-item .metadata .title {
  display: block;
  color: #090;
  padding: 0;
  margin: 0;
  font-size: 17px;
  height: 40px;
  overflow: hidden;
  line-height: 125%;
  font-weight: normal;
  font-family: source_sans_proregular;
  text-decoration: none;
}
.ui-video-list-item .metadata .subtitle {
  padding: 0;
  margin: 5px 0;
}
.ui-video-list-item .metadata .subtitle .channel {
  color: color-author;
}
.ui-video-list-item .metadata .subtitle .created {
  color: #999;
}
.ui-video-list-item .metadata .description {
  padding: 0;
  height: 35px;
  overflow: hidden;
  margin: 5px 0;
}
.ui-video-list-item .buttons {
  display: none;
}
.ui-video-list.list .ui-video-list-item {
  width: 100%;
  cursor: pointer;
}
.ui-video-list.list .ui-video-list-item .img {
  width: 40%;
  float: left;
  margin-right: 5px;
}
.ui-video-list.list .ui-video-list-item .img img {
  min-height: initial;
}
.yt-result-set .result {
  clear: both;
}
.yt-viewer {
  margin: 0 auto 30px;
  background-color: #f6f6f6;
  height: auto;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  -ms-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  -o-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
}
.yt-viewer h2.title {
  color: #000;
}
.yt-viewer h2.list-title {
  display: block;
  font-family: 'source_sans_prolight';
  font-size: 1.25em;
  margin: 14px 0 6px;
  line-height: 100%;
  color: #666;
}
.yt-viewer .video {
  float: left;
  position: relative;
}
.yt-viewer .video .overlay {
  position: absolute;
  background-color: rgba(51,51,51,0.7);
  top: -672px;
  height: 687px;
  font-size: 30px;
  display: table;
}
.yt-viewer .video .overlay div {
  display: table-cell;
  vertical-align: middle;
  font-family: 'source_sans_prolight';
  text-transform: uppercase;
  font-size: 1.7375em;
  text-align: center;
  color: #fff;
}
.yt-viewer .buttons {
  position: relative;
  margin: 15px auto 0;
  zoom: 1;
  clear: both;
}
.yt-viewer .buttons:after,
.yt-viewer .buttons:before {
  content: "";
  display: table;
}
.yt-viewer .buttons button {
  font-family: source_sans_prolight;
  height: 34px;
  font-size: 18px;
  line-height: 100%;
  display: block;
  padding: 4px 10px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  -ms-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.yt-viewer .buttons button:hover {
  cursor: pointer;
  background: #fff;
  color: #090;
}
.yt-viewer .buttons button:hover svg path,
.yt-viewer .buttons button:hover svg rect,
.yt-viewer .buttons button:hover svg polygon {
  fill: #090;
}
.yt-viewer .buttons .toggle-playlist {
  float: right;
  margin-top: -35px;
  width: auto;
}
.yt-viewer .buttons .toggle-playlist svg {
  height: 12px;
  width: auto;
  position: relative;
  top: 0;
  margin: 0 0 0 5px;
}
.yt-viewer .buttons .toggle-playlist .label_showPlaylist svg {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0 5px 0 0;
}
yt-player {
  width: 100%;
  position: relative;
}
yt-player .yt-player,
yt-player .overlay {
  width: 100%;
}
.yt-video-description {
  margin-top: 20px;
}
.yt-video-description .metadata {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid #666 1px;
  color: #333;
  font-size: 1em;
}
.yt-video-description .metadata div {
  float: left;
  width: 200px;
}
.yt-video-description .metadata div.row {
  clear: both;
}
.yt-viewer yt-result-set.playlist {
  height: auto;
  overflow: hidden;
}
.yt-viewer yt-result-set.playlist .ui-video-list {
  height: 620px; /*10 video list items*/
  overflow-y: auto;
  overflow-x: hidden;
}
.yt-viewer yt-result-set.playlist .app-send-to-tv {
  display: none;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item {
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: #dadada;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item:first-child {
  border-top: 0;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item ui-video-list-play-arrow {
  display: none;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img {
  margin: 0;
  width: 150px;
  height: 50px;
  float: left;
  padding: 5px 0;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img .index {
  position: absolute;
  font-size: 1.75em;
  text-align: center;
  padding-top: 5px;
  width: 55px;
  color: #666;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img img {
  float: right;
  width: 90px;
  height: 50px;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img svg {
  position: relative;
  top: 17px;
  left: 20px;
  float: left;
  width: 17px;
  height: 15px;
  padding: 0;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img svg polygon {
  -webkit-filter: none;
  filter: none;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .img .duration {
  right: 0;
  bottom: 5px;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata {
  margin: 5px 10px;
  height: auto;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .title {
  position: relative;
  color: #333;
  font-size: 1.125em;
  min-width: 50%;
  line-height: 125%;
  height: 25px;
  top: 5px;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .subtitle {
  margin: 0;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .channel {
  font-size: 0.8125em;
  width: 100%;
  height: 15px;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .title,
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .channel {
  overflow: hidden;
  white-space: nowrap;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .description,
.yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .created {
  display: none;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item.playing,
.yt-viewer yt-result-set.playlist .ui-video-list-item:hover {
  background-color: #666;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item.playing .index,
.yt-viewer yt-result-set.playlist .ui-video-list-item:hover .index {
  display: none;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item.playing ui-video-list-play-arrow,
.yt-viewer yt-result-set.playlist .ui-video-list-item:hover ui-video-list-play-arrow {
  display: block;
}
.yt-viewer yt-result-set.playlist .ui-video-list-item.playing .metadata .title,
.yt-viewer yt-result-set.playlist .ui-video-list-item:hover .metadata .title,
.yt-viewer yt-result-set.playlist .ui-video-list-item.playing .metadata .channel,
.yt-viewer yt-result-set.playlist .ui-video-list-item:hover .metadata .channel {
  color: #fff;
}
yt-controlbar {
  display: none;
}
yt-controlbar .controlbar-overlay {
  width: 1920px;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background-image: linear-gradient(top, #fff 0%, #000 100%);
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
yt-controlbar .controlbar-overlay .button {
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
}
yt-controlbar .controlbar-overlay .button.forward {
  background-image: url("../img/forward.svg");
  left: 1100px;
}
yt-controlbar .controlbar-overlay .button.rewind {
  background-image: url("../img/forward.svg");
  left: 700px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
yt-controlbar .controlbar-overlay .button.play,
yt-controlbar .controlbar-overlay .button.pause {
  top: 50px;
  left: 900px;
}
yt-controlbar .controlbar-overlay .button.play {
  background-image: url("../img/play.svg");
}
yt-controlbar .controlbar-overlay .button.pause {
  background-image: url("../img/pause.svg");
}
yt-controlbar .controlbar-overlay .button.highlight {
  background-image: url("../img/forward_highlight.svg");
}
yt-controlbar .controlbar-overlay progress[value] {
/* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 1500px;
  height: 10px;
  position: absolute;
  top: 200px;
  left: 200px;
}
yt-controlbar .controlbar-overlay progress[value]::-webkit-progress-bar {
  background-color: #989898;
  -o-border-radius: 5px;
  border-radius: 5px;
}
yt-controlbar .controlbar-overlay progress[value]::-webkit-progress-value {
  background-color: #cdcccc;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}
yt-controlbar .controlbar-overlay .time,
yt-controlbar .controlbar-overlay .duration {
  position: absolute;
  top: 186px;
  color: #f2f2f2;
  font-size: 30px;
}
yt-controlbar .controlbar-overlay .time {
  right: 1730px;
}
yt-controlbar .controlbar-overlay .duration {
  left: 1710px;
}
yt-controlbar .controlbar-overlay .title {
  color: #f2f2f2;
  font-size: 30px;
  text-align: center;
  width: 1980px;
  position: absolute;
  top: 300px;
  left: 0;
}
.tvmode.fullscreen .container,
.tvmode.fullscreen .yt-viewer,
.tvmode.fullscreen .video,
.tvmode.fullscreen .yt-player {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.tvmode.fullscreen .container,
.tvmode.fullscreen .yt-viewer,
.tvmode.fullscreen .video {
  height: 1080px !important;
  width: 1920px !important;
}
.tvmode.fullscreen .yt-player {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
/* for scalling up workaround */
  height: 360px !important;
  width: 640px !important;
}
.tvmode.fullscreen yt-controlbar {
  display: block;
}
.tvmode.fullscreen .yt-viewer h2,
.tvmode.fullscreen .yt-viewer .buttons {
  display: none;
}
.tvmode.fullscreen .yt-player {
  position: absolute;
}
.tvmode.fullscreen app-search,
.tvmode.fullscreen .yt-video-description,
.tvmode.fullscreen yt-result-set.playlist {
  display: none;
}
button.app-send-to-tv {
  font-family: source_sans_prolight;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding: 5px;
  background: #090;
  border: 0;
  outline: 0;
  color: #fff;
}
button.app-send-to-tv svg {
  position: relative;
  top: 4px;
  width: auto;
  height: 20px;
  margin-right: 5px;
}
button.app-send-to-tv .label_sendToTv,
button.app-send-to-tv .label_stopStreaming {
  position: relative;
  top: -1px;
}
button.app-send-to-tv:hover {
  cursor: pointer;
  background: #fff;
}
app-key-input {
  clear: both;
  color: #696969;
  display: block;
  height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
app-key-input li.char,
app-key-input li.button {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 29px;
  padding-top: 3px;
}
app-key-input li.char[activated="true"],
app-key-input li.button[activated="true"] {
  background: #696969;
  color: #fff;
}
app-key-input li.char.c-space {
  background-image: url("../img/space.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 50px;
}
app-key-input li.char.c-space[activated="true"] {
  background-image: url("../img/space_activated.svg");
}
app-key-input li.char.c-space span {
  display: none;
}
app-key-input li.button.switch {
  float: right;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
}
app-key-input li.button.switch.numbers {
  background-image: url("../img/123.svg");
}
app-key-input li.button.switch.numbers[activated="true"] {
  background-image: url("../img/123_activated.svg");
}
app-key-input li.button.switch.letters {
  background-image: url("../img/abc.svg");
}
app-key-input li.button.switch.letters[activated="true"] {
  background-image: url("../img/abc_activated.svg");
}
app-key-input li.button.del {
  background-image: url("../img/backspace.svg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  width: 50px;
  margin-left: 10px;
}
app-key-input li.button.del[activated="true"] {
  background-image: url("../img/backspace_activated.svg");
}
@media (min-width: 320px) {
  .container,
  .yt-viewer {
    width: 300px;
  }
  app-search .query {
    width: 290px;
  }
  .yt-viewer .yt-video-description {
    width: 270px;
    padding: 5px;
  }
  .yt-viewer .video {
    width: 280px;
    margin: 10px 10px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 185px;
  }
  .yt-viewer .video .overlay {
    width: 280px;
    top: -170px;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: none;
  }
  .yt-viewer yt-result-set.playlist {
    position: relative;
    min-height: 50vh;
    margin: 10px;
    width: 280px;
  }
  .yt-viewer yt-result-set.playlist .ui-video-list {
    height: auto;
  }
  .yt-viewer yt-result-set.playlist .ui-video-list-item {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 480px) {
  .container,
  .yt-viewer {
    width: 460px;
  }
  app-search .query {
    width: 450px;
  }
  .yt-viewer .yt-video-description {
    width: 430px;
  }
  .yt-viewer .video {
    width: 440px;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 248px;
  }
  .yt-viewer .video .overlay {
    width: 440px;
    top: -233px;
  }
  .yt-viewer yt-result-set.playlist {
    width: 440px;
  }
}
@media (min-width: 640px) {
  .container,
  .yt-viewer {
    width: 600px;
  }
  app-search .query {
    width: 590px;
  }
  .list-title {
    margin-left: 40px;
  }
  .ui-video-list-item {
    float: left;
    margin-left: 40px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .yt-viewer .yt-video-description {
    width: 550px;
  }
  .yt-viewer .video {
    width: 560px;
    margin: 20px 20px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 327px;
  }
  .yt-viewer .video .overlay {
    width: 560px;
    top: -312px;
  }
  .yt-viewer yt-result-set.playlist {
    margin: 20px;
    width: 560px;
  }
}
@media (min-width: 768px) {
  .container,
  .yt-viewer {
    width: 740px;
  }
  app-search .query {
    width: 730px;
  }
  h2.list-title {
    margin: 0;
  }
  .ui-video-list-item {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 10px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 0;
  }
  .yt-viewer {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    padding-bottom: 40px;
  }
  .yt-viewer .video {
    width: 700px;
    margin: 40px 20px 20px;
    float: left;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-player {
    height: 394px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer .video .overlay {
    width: 700px;
    height: 394px;
    top: -379px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer .video .yt-video-description {
    width: 680px;
    padding: 10px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer .buttons .toggle-playlist {
    display: block;
  }
  .yt-viewer yt-result-set.playlist {
    padding-bottom: 20px;
    position: relative;
    width: 280px;
    float: right;
    margin: 0 -300px 0 0;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
  .yt-viewer yt-result-set.playlist .ui-video-list {
    height: 620px;
  }
  .yt-viewer.playlist-visible {
    background-color: #c6c6c6;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video {
    width: 400px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-player {
    height: 225px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .overlay {
    width: 400px;
    height: 225px;
    top: -210px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 380px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible yt-result-set.playlist {
    margin: 0 20px 0 0;
    -webkit-transition: margin-right 0.5s ease-in-out;
    transition: margin-right 0.5s ease-in-out;
  }
  .yt-viewer.playlist-visible yt-result-set.playlist .ui-video-list {
    height: 620px;
  }
}
@media (min-width: 992px) {
  .container,
  .yt-viewer {
    width: 960px;
  }
  app-search .query {
    padding-left: 10px;
    width: 950px;
  }
  .list-title {
    margin-left: 90px;
  }
  .ui-video-list-item {
    margin-left: 90px;
    margin-bottom: 30px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(3n+1) {
    margin-left: 90px;
  }
  .yt-viewer .video {
    width: 900px;
    margin: 40px 30px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 507px;
  }
  .yt-viewer .video .overlay {
    width: 900px;
    top: -492px;
  }
  .yt-viewer .video .yt-video-description {
    width: 880px;
  }
  .yt-viewer yt-result-set.playlist {
    width: 370px;
    margin: 0 -390px 0 0;
    padding-bottom: 30px;
  }
  .yt-viewer.playlist-visible .video {
    width: 500px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 282px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    width: 500px;
    top: -267px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 480px;
  }
  .yt-viewer.playlist-visible yt-result-set.playlist {
    margin: 0 30px 0 0;
  }
}
@media (min-width: 1200px) {
  .container,
  .yt-viewer {
    width: 1140px;
  }
  app-search .query {
    padding-left: 10px;
    width: 1130px;
  }
  .list-title {
    margin-left: 45px;
  }
  .ui-video-list-item {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 45px;
  }
  .yt-viewer .video {
    width: 1020px;
    margin: 40px 60px 0;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 580px;
  }
  .yt-viewer .video .overlay {
    width: 1020px;
    top: -565px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1000px;
  }
  .yt-viewer yt-result-set.playlist {
    width: 410px;
    margin: 0 -430px 0 0;
    padding-bottom: 60px;
  }
  .yt-viewer.playlist-visible .video {
    width: 550px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 310px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    width: 550px;
    top: -295px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 530px;
  }
  .yt-viewer.playlist-visible yt-result-set.playlist {
    margin: 0 60px 0 0;
  }
}
@media (min-width: 1400px) {
  .container,
  .yt-viewer {
    width: 1340px;
  }
  app-search .query {
    width: 1330px;
  }
  .list-title {
    margin-left: 10px;
  }
  .ui-video-list-item {
    margin-left: 10px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 30px;
  }
  .ui-video-list-item:nth-child(5n+1) {
    margin-left: 10px;
  }
  .yt-viewer .video {
    width: 1220px;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 687px;
  }
  .yt-viewer .video .overlay {
    width: 1220px;
    top: -672px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1200px;
  }
  .yt-viewer yt-result-set.playlist {
    width: 510px;
    margin-right: -530px;
  }
  .yt-viewer.playlist-visible .video {
    width: 650px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 366px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    width: 650px;
    top: -351px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 630px;
  }
}
@media (min-width: 1600px) {
  .container,
  .yt-viewer {
    width: 1540px;
  }
  app-search .query {
    width: 1530px;
  }
  .list-title {
    margin-left: 0;
  }
  .ui-video-list-item {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .ui-video-list-item:nth-child(even) {
    margin-left: 20px;
  }
  .ui-video-list-item:nth-child(odd) {
    margin-left: 20px;
  }
  .ui-video-list-item:nth-child(4n+1) {
    margin-left: 20px;
  }
  .ui-video-list-item:nth-child(5n+1) {
    margin-left: 20px;
  }
  .ui-video-list-item:nth-child(6n+1) {
    margin-left: 0;
  }
  .yt-viewer .video {
    width: 1420px;
  }
  .yt-viewer .video .yt-player,
  .yt-viewer .video .overlay {
    height: 799px;
  }
  .yt-viewer .video .overlay {
    width: 1420px;
    top: -784px;
  }
  .yt-viewer .video .yt-video-description {
    width: 1400px;
  }
  .yt-viewer yt-result-set.playlist {
    width: 570px;
    margin-right: -590px;
  }
  .yt-viewer.playlist-visible .video {
    width: 790px;
  }
  .yt-viewer.playlist-visible .video .yt-player,
  .yt-viewer.playlist-visible .video .overlay {
    height: 445px;
  }
  .yt-viewer.playlist-visible .video .overlay {
    width: 790px;
    top: -430px;
  }
  .yt-viewer.playlist-visible .video .yt-video-description {
    width: 770px;
  }
}
.pcmode app-search app-key-input {
  display: none;
}
.tvmode .container {
  width: 100vw;
  padding: 0;
}
.tvmode .header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 103px;
  background-color: #ededed;
}
.tvmode .container,
.tvmode yt-result-set,
.tvmode .yt-result-set,
.tvmode .result,
.tvmode .ui-video-list {
  overflow-y: visible;
}
.tvmode app-search,
.tvmode .yt-result-set {
  margin-left: 160px;
}
.tvmode app-search {
  z-index: 100;
  width: 1490px !important;
  margin-right: 160px;
  margin-top: 21px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.tvmode app-search .query {
  width: 100%;
}
.tvmode app-search[activated="true"] {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.tvmode app-search[activated="false"] {
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
}
.tvmode app-search,
.tvmode app-key-input {
  width: auto;
}
.tvmode app-key-input {
  margin-bottom: 65px;
}
.tvmode app-key-input li {
  display: table;
  padding: 0;
}
.tvmode app-key-input li span {
  display: table-cell;
  vertical-align: middle;
}
.tvmode yt-result-set {
  display: block;
  width: auto;
  height: 800px;
  overflow: hidden;
}
.tvmode yt-result-set .list-title.search {
  display: block;
  opacity: 0;
  width: 90%;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.tvmode yt-result-set[activated="true"] .list-title.search {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.tvmode .yt-result-set {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.tvmode .yt-result-set .result {
  margin-bottom: 65px;
}
.tvmode .yt-result-set.row-1-activated {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.tvmode .yt-result-set.row-2-activated {
  -webkit-transform: translateY(-620px);
  -ms-transform: translateY(-620px);
  transform: translateY(-620px);
}
.tvmode .yt-result-set.row-3-activated {
  -webkit-transform: translateY(-1240px);
  -ms-transform: translateY(-1240px);
  transform: translateY(-1240px);
}
.tvmode .yt-result-set.row-4-activated {
  -webkit-transform: translateY(-1860px);
  -ms-transform: translateY(-1860px);
  transform: translateY(-1860px);
}
.tvmode .yt-result-set .list-title {
  line-height: 100%;
  font-size: 3.125em;
  color: #3c3c3b;
  margin: 0 0 20px 0 !important;
}
.tvmode .yt-result-set .ui-video-list {
  width: auto;
  height: 460px;
  padding-bottom: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.tvmode .yt-result-set .ui-video-list .load-more-wrap {
  display: none;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item,
.tvmode .ui-video-list-item {
  border: 0;
  width: 460px;
  height: 465px;
  padding: 0;
  margin: 0 10px 0 0 !important; /* lazy but memory saving approach to override responsive styles ;) */
  background-color: #f6f6f6;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .duration,
.tvmode .ui-video-list-item .duration,
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .items,
.tvmode .ui-video-list-item .items {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .duration span,
.tvmode .ui-video-list-item .duration span,
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .items span,
.tvmode .ui-video-list-item .items span {
  font-size: 1.25em;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item:after,
.tvmode .ui-video-list-item:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(237,237,237,0.3);
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item[activated="true"],
.tvmode .ui-video-list-item[activated="true"] {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  -webkit-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  -ms-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  -o-box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
  z-index: 10;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item[activated="true"]:after,
.tvmode .ui-video-list-item[activated="true"]:after {
  background-color: rgba(237,237,237,0);
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item[activated="true"] .duration,
.tvmode .ui-video-list-item[activated="true"] .duration,
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item[activated="true"] .items,
.tvmode .ui-video-list-item[activated="true"] .items {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .img,
.tvmode .ui-video-list-item .img {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 259px;
  float: none;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .img img,
.tvmode .ui-video-list-item .img img {
  width: 100%;
  height: auto;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .img .index,
.tvmode .ui-video-list-item .img .index {
  display: none;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata,
.tvmode .ui-video-list-item .metadata {
  height: auto;
  max-height: 170px;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 100%;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .title,
.tvmode .ui-video-list-item .metadata .title {
  top: 0;
  left: 0;
  height: 60px;
  white-space: normal;
  font-size: 1.625em;
  color: #3c3c3b;
  line-height: 120%;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .subtitle,
.tvmode .ui-video-list-item .metadata .subtitle {
  margin: 10px 0 5px;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .channel,
.tvmode .ui-video-list-item .metadata .channel,
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .created,
.tvmode .ui-video-list-item .metadata .created {
  display: inline;
  font-size: 1.125em;
  color: #666;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item .metadata .description,
.tvmode .ui-video-list-item .metadata .description {
  display: block !important;
  margin: 0;
  height: auto;
  width: auto;
  white-space: normal;
  font-size: 1.125em;
  color: #3c3c3b;
  line-height: 135%;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list-item svg#arrow,
.tvmode .ui-video-list-item svg#arrow {
  display: none;
}
.tvmode .yt-viewer yt-result-set.playlist .ui-video-list {
  overflow: visible;
}
.tvmode yt-result-set.playlist[activated="true"] {
  display: block;
  z-index: 10;
  position: absolute;
  height: 500px;
  width: auto;
  top: 300px;
}
.tvmode yt-result-set.playlist[activated="true"] ui-video-list {
  height: 500px;
}
.tvmode yt-result-set.playlist[activated="true"] ui-video-list-item {
  width: 460px;
  height: 465px;
}
