.pcmode {

    app-search app-key-input {
        display: none;
    }
}

.tvmode {
    
    .container { 
        width: 100vw;
        padding: 0;
    }

    .header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 103px;
        background-color: header-background;
    }
    
    .container, yt-result-set, .yt-result-set, .result, .ui-video-list {
        overflow-y: visible;
    }
    
    app-search,
    .yt-result-set {
        margin-left: 160px;
    }
    
    app-search {
        z-index: 100;
        width: 1490px !important;
        margin-right: 160px;
        margin-top: 21px;
        transition: transform 0.5s ease-in-out;
        .query {
            width: 100%;
        }
        &[activated="true"] {
            transform: translateY(0);
        }
        &[activated="false"] {
            transform: translateY(-200px);
        }
    }
    app-search,
    app-key-input {
        width: auto;
    }
    
    app-key-input {
        margin-bottom: 65px;
        
        li {
            display: table;
            padding:0;
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    yt-result-set {
        display: block;
        width: auto;
        height: 800px;
        overflow: hidden;
        
        .list-title.search {    
            display: block;
            opacity: 0;
            width: 90%;
            transition: opacity 0.5s ease-in-out;
        }

        &[activated="true"] {
            .list-title.search {    
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }
    
    .yt-result-set {
        position: relative;
        transition: transform 0.5s ease-in-out;
        .result {
            margin-bottom: 65px;
        }
        
        &.row-1-activated {
            transform: translateY(0);
        }
        
        &.row-2-activated {
            transform: translateY(-620px);
        }
        
        &.row-3-activated {
            transform: translateY(-1240px);
        }
        
        &.row-4-activated {
            transform: translateY(-1860px);            
        }

        .list-title {
            line-height: 100%;
            font-size: 3.125em;
            color: color-title-tv;
            margin: 0 0 20px 0 !important;
        }
    
        .ui-video-list {
            width: auto;
            height: 460px;
            padding-bottom: 10px;
            display: -webkit-inline-box;
            display: inline-flex;
            transition: transform 0.5s ease-in-out;
            
            .load-more-wrap {
                display: none;
            }
        }
    }
}


.tvmode {
    
    .yt-viewer yt-result-set.playlist .ui-video-list-item,
    .ui-video-list-item {
        border: 0;
        width: 460px;
        height: 465px;
        padding: 0;
        margin: 0 10px 0 0 !important; /* lazy but memory saving approach to override responsive styles ;) */
        background-color: bg-video-list-item-tv;
        transition: transform 0.25s ease-in-out;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(237,237,237,0.3);
            transition: background-color 0.25s ease-in-out;
        }

        &[activated="true"] {
            transform-origin: center center;
            transform: scale(1.025);
            box-shadow: 7px 7px 10px 0 rgba(0,0,0,0.3);
            z-index: 10;
            transition: transform 0.25s ease-in-out;
            transition-delay: 0.5s;
            &:after {
                background-color: rgba(237,237,237,0);
                transition: background-color 0.25s ease-in-out;
            }
        }

        .img {
            overflow: hidden;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 259px;
            float: none;
            img {
                width: 100%;
                height: auto;
                
            }
            .index {
                display: none;
            }
        }

        .metadata {
            height: auto;
            max-height: 170px;
            margin: 20px 0;
            padding: 0 20px;
            font-size: 100%;
            .title {
                top: 0;
                left: 0;
                height: 60px;
                white-space: normal;
                font-size: 1.625em;
                color: color-title-tv;
                line-height: 120%;
            }
            .subtitle {
                margin: 10px 0 5px;
            }
            .channel,
            .created {
                display: inline;
                font-size: 1.125em;
                color: color-metadata-tv;
            }
            .description {
                display: block !important;
                margin: 0;
                height: auto;
                width: auto;
                white-space: normal;
                font-size: 1.125em;
                color: color-title-tv;
                line-height: 135%;
            }
        }

        .duration, 
        svg {
            display: none;
        }
    }
    
}

.tvmode {
    .yt-viewer yt-result-set.playlist .ui-video-list{
        overflow: visible;
    }
}

.tvmode {
    .activated, *[activated="true"] {
        button.search path {
           /* fill: #fff; */
        }
    }
}

.tvmode {
    yt-result-set.playlist[activated="true"] {
        display: block;
        z-index: 10;
        position: absolute;
        height: 500px;
        width: auto;
        top: 300px;

        ui-video-list {
            height: 500px;
        }

        ui-video-list-item {
            width: 460px;
            height: 465px;
        }
    }
}
