.pcmode {

    app-search app-key-input {
        display: none;
    }
}

.tvmode {
    .activated, *[activated="true"] {
        border: solid red 1px;
    }

    .activated, *[activated="true"] {
        button.search path {
            fill: #fff;
        }
    }
}
