html, body {
  padding:0;
  margin:0;
  height: 100%;

  &.tvmode {
    border: solid green 1px;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}
.container {
  background: #fff;
  color: #333;
  width: 96%;
  height: auto;
  margin: 25px 2% 25px 2%;
  font-family: source_sans_prolight;
  font-size: 14px;
  font-weight: normal;
}

.pcmode,
.fullscreen {
  .tp-header {
    display:none;
  }
}

.tvmode {
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
