
@media (min-width: 320px) {
    
    .container, .yt-viewer, .yt-video-description {
        width: 300px;
    }
    
    .container {
        position: relative;
    }
    
    .app-search .query {
        padding-left: 10px;
        width: 290px;
    }
    
    .ui-video-list-item {
        width: 300px;
        margin: 0 0 30px 0;
    }
    
    .yt-viewer {
        .buttons {
            .toggle-playlist {
                display: none;
            }
        }
        
        .playlist {
            width: 100%;
            .ui-video-list-item {
                margin: 0;
            }
        }
        .video {
            .yt-player {
                width:100%;
                height: 225px;
            }
        }
    }
}

@media (min-width: 480px) {
    .container, .yt-viewer, .yt-video-description {
        width: 460px;
    }
    
    .app-search .query {
        padding-left: 10px;
        width: 460px;
    }
    
    .ui-video-list-item {
        width: 215px;
        margin: 0 0 30px 30px;
        &:nth-child(odd) {
            margin-left: 0;
        }
        .yt-playlist & {
            width: 100%;
        }
    }
    
    
    
    .yt-viewer {
        .video {
            .yt-player {
                height: 345px;
            }
        }
    }
}

@media (min-width: 640px) {
    .container, .yt-viewer, .yt-player, .yt-video-description {
        width: 620px;
    }
    
    .ui-video-list-item {
        width: 290px;
        margin: 0 0 30px 30px;
        .yt-player & {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .container {
        width: 510px;
    }
    
    .app-search {
        .query {
            padding-left: 15px;
            width: 495px;
        }
        button.search {
            margin-right: 15px;
        }
    }
    
    .ui-video-list-item {
        width: 240px;
        height: 260px;
        .img {
           height: 124px;
           margin-bottom: 10px;
        }
        margin-left: 30px;
        
        &:nth-child(odd) {
            margin-left: 0;
        }
        &:nth-child(even) {
            margin-left: 30px;
        }
    }
    
    .yt-viewer {
        width: 510px;
    }
    
    .yt-viewer {
        .video {
            width: 450px;
            margin: 30px;
            clearfix();
            
            .yt-player {
                height: 245px;
            }
            .yt-video-description {
                width: 450px;
            }
        }
        
        .playlist {
            width: 450px;
            position: relative;
            left: 30px;
            top: 0;
        }
    }
}

@media (min-width: 992px){
    .container {
        width: 780px;
        padding: 0 30px;
    }
    
    .app-search {
        .query {
            padding-left: 20px;
            width: 760px;
        }
        button.search {
            margin-right: 20px;
        }
    }
    
    .ui-video-list-item {
        width: 240px;
        margin-left: 30px;
        &:nth-child(odd) {
            margin-left: 30px;
        }
        &:nth-child(3n+1) {
            margin-left: 0;
        }
    }
    
    .yt-viewer {
        width: 780px;
        .buttons {
            .toggle-playlist {
                display: block;
            }
        }
    }
    
    .yt-viewer {
        .video {
            width: 720px;
            margin: 60px 0 0 30px;
            transition: width 0.5s ease-in-out;
            .yt-player {
                height: 405px;
                transition: height 0.5s ease-in-out;
            }
            .yt-video-description {
                width: 720px;
                transition: all 0.5s ease-in-out;
            }
        }
        
        .playlist {
            width: 290px;
            float: right;
            margin-right: -320px;
            transition: margin-right 0.5s ease-in-out;
        }
        
        &.playlist-visible {
            .video {
                width: 400px;
                transition: width 0.5s ease-in-out;
                .yt-player {
                    height: 225px;
                    transition: height 0.5s ease-in-out;
                }
                .yt-video-description {
                    width: 400px;
                    transition: all 0.5s ease-in-out;
                }
            }
            
            .playlist {
                margin-right: 60px;
                transition: margin-right 0.5s ease-in-out;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1050px;
    }
    
    .app-search {
        .query {
            padding-left: 20px;
            width: 1030px;
        }
        button.search {
            margin-right: 20px;
        }
    }
    
    .ui-video-list-item {
        width: 240px;
        height: 260px;
        margin-left: 30px;
        &:nth-child(3n+1) {
            margin-left: 30px;
        }
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    
    .yt-viewer{
        width: 1050px;
    }
    
    .yt-viewer {
        .video {
            width: 930px;
            margin: 60px 60px 0;
            .yt-player {
                height: 524px;
            }
            .yt-video-description {
                width: 930px;
            }
        }
        
        &.playlist-visible {
            .video {
                width: 520px;
                margin-right:0;
                .yt-player {
                    height: 350px;
                }
                .yt-video-description {
                    width: 520px;
                }
            }
            
            .playlist {
                width: 350px;
                margin-right: 90px;
            }
        }
    }
}





/*@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    
    .ui-video-list-item {
        width: 270px;
        margin-left: 30px;
        &:nth-child(3n+1) {
            margin-left: 30px;
        }
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    
    .yt-viewer, .video {
        width: 1170px;
    }
    
    .yt-viewer {
        .video {
            width: 1170px;
            .yt-player {
                //height: 877.5px;
            }
            .yt-video-description {
                width: 1170px;
            }
        }
        
        &.playlist-visible {
            .video {
                width: 780px;
                .yt-player {
                    //height: 585px;
                }
                .yt-video-description {
                    width: 780px;
                }
            }
            
            .playlist {
                width: 360px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
    
    .ui-video-list-item {
        width: 315px;
    }
    
    .yt-viewer, .video {
        width: 1350px;
    }
    
    .yt-viewer {
        .video {
            width: 1350px;
            .yt-player {
                //height: 1012.5px;
            }
            .yt-video-description {
                width: 1350px;
            }
        }
        
        &.playlist-visible {
            .video {
                width: 900px;
                .yt-player {
                   // height: 675px;
                }
                .yt-video-description {
                    width: 900px;
                }
            }
            
            .playlist {
                width: 420px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1530px;
        padding: 0 30px;
    }
    
    .ui-video-list-item {
        width: 345px;
    }
    
    .yt-viewer, .video {
        width: 1480px;
    }
    
    .yt-viewer {
        .video {
            width: 1480px;
            .yt-player {
                //min-height: 832.5px;
            }
            .yt-video-description {
                width: 1530px;
            }
        }
        
        &.playlist-visible {
            .video {
                width: 1020px;
                .yt-player {
                    //height: 765px;
                }
                .yt-video-description {
                    width: 1020px;
                }
            }
            
            .playlist {
                width: 480px;
            }
        }
    }
}*/

