
@media (min-width: 320px) {
    .container, .ui-video-list-item  {
        width: 300px;
        height: auto;
        position: relative;
    }
    
    .ui-video-list-item {
        margin: 0 0 30px 0;
    }
    
    .yt-viewer, .yt-player, .yt-video-description, .yt-playlist {
        width: 100%;
    }
    
    .yt-viewer {
        .video {
            float: none;
        }
    }
    
    .yt-player {
        height: 225px;
    }
}

@media (min-width: 480px) {
    .container {
        width: 460px;
    }
    
    .ui-video-list-item {
        width: 215px;
        margin: 0 0 30px 30px;
        &:nth-child(odd) {
            margin-left: 0;
        }
        .yt-playlist & {
            width: 100%;
        }
    }
    
    .yt-player {
        height: 345px;
    }
}

@media (min-width: 640px) {
    .container {
        width: 620px;
    }
    
    .ui-video-list-item {
        width: 290px;
        margin: 0 0 30px 30px;
        .yt-player & {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    
    .ui-video-list-item {
        width: 360px;
        margin: 0 0 30px 30px;
        &:nth-child(odd) {
            margin-left: 0;
        }
    }
    
    .yt-viewer {
        .video {
            width: 580px;
        }
        .ui-video-list-item {
            width: 100%;
        }
    }

    .yt-player {
        width: 100%;
        height: 435px;
        transition(all 0.5s);
    }

    .yt-video-description {
        width: 100%;
        height: 565px;
    }

    .yt-playlist {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 900px;
        transition(width 0.5s);        
    }
    
    .yt-viewer {
        &.playlist-hidden {
            .video {
                width: 100%;
                .yt-player {
                    height: 563px;
                    transition(all 0.5s);
                }
            }
            
            .yt-playlist {
                span {
                    display:none;
                }
                width: 0px;
                transition(width 0.5s);
            }
        }
    }
    
}

@media (min-width: 992px){
    .container {
        width: 960px;
    }
    
    .ui-video-list-item {
        width: 300px;
        margin-left: 30px;
        &:nth-child(odd) {
            margin-left: 30px;
        }
        &:nth-child(3n+1) {
            margin-left: 0;
        }
    }
    
    .yt-viewer {
        .video {
            width: 580px;
        }
        .ui-video-list-item {
            width: 100%;
        }
    }

    .yt-player {
        width: 100%;
        height: 435px;
    }

    .yt-video-description {
        width: 100%;
        height: 565px;
    }

    .yt-playlist {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
    }
    
    .yt-viewer {
        &.playlist-hidden {
            .video {
                width: 100%;
                transition(all 0.5s);
            }
            
            .yt-playlist {
                span {
                    display:none;
                }
                width: 0px;
                transition(width 0.5s);
            }
        }
    }
    
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    
    .ui-video-list-item {
        width: 270px;
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        &:nth-child(4n) {
            margin-left: 30px;
        }
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
    
    .ui-video-list-item {
        width: 320px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
    
    .ui-video-list-item {
        width: 370px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
    
    .ui-video-list-item {
        width: 420px;
    }
}

