bg-container = #dadada;

bg-query-input = #f4f4f4;

bg-video-list-item = #f6f6f6;

bg-playlist-item = #dadada;

bg-playlist-item-playing = #666666;

bg-yt-viewer = #f6f6f6;

bg-yt-viewer-pl-visible = #c6c6c6;

bg-button = #009900;

bg-button-hover = #ffffff;

bg-player-overlay = rgba(51,51,51,0.7);

bg-playlist-icon = #ffffff;

color-text-query-input = #999999;

color-title = #009900;

color-player-title = #000000;

color-title-light = #666666;

color-playlist-item-playing = #ffffff;

color-playlist-item-index = #666666;

color-text = #333333;

color-text-button = #ffffff;

color-text-button-hover = #009900;

color-created = #999999;

color-search-button-hover = #000000;

color-playlist-icon-font = #000000;

bg-video-list-item-tv = #f6f6f6;

color-title-tv = #3c3c3b;

color-metadata-tv = #666666;