
bg-container = #dadada;

bg-video-list-item = #f6f6f6;

bg-playlist-item = #dadada;

bg-playlist-item-act = #666666;

bg-yt-viewer = #f6f6f6;

bg-yt-viewer-pl-visible = #c6c6c6;

bg-button = #009900;

color-title = #009900;

color-text = #333333;

color-button-text = #ffffff;

color-created = #666666;